<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="app" >
    {{ message }}
    {{totalscore}}
    <!-- <button v-on:click="onClick">ボタン</button>
    <input v-model="text" type="text"> -->
    <div class="line" v-for="line in field">
      <div class="block" v-for="block in line">
        <div v-if="block == 0" class="blank inline-block">

        </div>
        <div v-else-if="block == 1" class="fixed-block inline-block">
          
        </div>
        <div v-else-if="block == 2" class="move-block inline-block">
          
        </div>
        <div v-else-if="block == 9" class="frame-block inline-block">
          
        </div>
      </div>
    </div>
  </div>
</body>

<script>

  var app = new Vue({
    el: '#app',
    data: {
      message: 'Total Score',
      totalscore: 0,
      field: [
        [9,0,0,0,0,2,2,0,0,0,0,9],
        [9,0,0,0,0,0,2,0,0,0,0,9],
        [9,0,0,0,0,2,2,0,0,0,0,9],
        [9,0,0,0,0,0,0,0,0,0,0,9],
        [9,0,0,0,0,0,0,0,0,0,0,9],
        [9,0,0,0,0,0,0,0,0,0,0,9],
        [9,0,0,0,0,0,0,0,0,0,0,9],
        [9,0,0,0,0,0,0,0,0,0,0,9],
        [9,0,0,0,0,0,0,0,0,0,0,9],
        [9,0,0,0,0,0,0,0,0,0,0,9],
        [9,0,0,0,0,0,0,0,0,0,0,9],
        [9,0,0,0,0,0,0,0,0,0,0,9],
        [9,0,0,0,0,0,0,0,0,0,0,9],
        [9,0,0,0,0,0,0,0,0,0,0,9],
        [9,0,0,0,0,0,0,0,0,0,0,9],
        [9,0,0,0,0,0,0,0,0,0,0,9],
        [9,0,0,0,0,0,0,0,0,0,0,9],
        [9,0,0,0,0,0,0,0,0,0,0,9],
        [9,1,1,1,1,0,0,1,1,1,1,9],
        [9,1,0,0,0,0,0,0,1,0,0,9],
        [9,1,1,1,1,0,0,1,1,1,1,9],
        [9,9,9,9,9,9,9,9,9,9,9,9],
      ],
      addBlockPattern: [
        [
          [2,2,0],
          [0,2,2]
        ],
        [
          [0,2,2],
          [2,2,0]
        ],
        [
          [2],
          [2],
          [2],
          [2]
        ],
        [
          [0,2,0],
          [2,2,2]
        ],
        [
          [2,2],
          [2,2]
        ],
        [
          [2,0],
          [2,0],
          [2,2],
        ],
        [
          [0,2],
          [0,2],
          [2,2],
        ]
      ]
    },
    created(){
      setInterval(this.BlockMove,500)
      const self = this
      document.addEventListener('keydown', (event) => {
        var keyName = event.key;
        // console.log(keyName)
        if(keyName == "ArrowRight"){
          self.RightMove()
        }
        if(keyName == "ArrowLeft"){
          self.LeftMove()
        }
        if(keyName == "ArrowDown"){
          self.DownMove()
        }
      });
    },
    methods:{
      onClick(){
        //dataの中身を参照するにはthis.と参照しなければいけない
        console.log("ボタンが押されたことを検出",this.text)
      },
      createdBlock(){
        this.field[0][5] = this.addBlockPattern[0][0][0]
        this.field[0][6] = this.addBlockPattern[0][0][1]
        this.field[0][7] = this.addBlockPattern[0][0][2]
        this.field[1][5] = this.addBlockPattern[0][1][0]
        this.field[1][6] = this.addBlockPattern[0][1][1]
        this.field[1][7] = this.addBlockPattern[0][1][2]
      },
      stopAllBlock(){
        // console.log("called")
        for(let i=0; i<this.field.length; i++){
          for(let j=0; j<this.field[i].length; j++){
            if(this.field[i][j] == 2){
              this.field[i][j] = 1
            }
          }
        }
        return this.field
      },
      checkRowClear(){
        const c_row = []
        for(let i=0; i<this.field.length-1; i++){
          let isClear = true
          for(let j=0; j<this.field[i].length; j++){
            if(this.field[i][j] != 1 && this.field[i][j] != 9){
              isClear = false
            }
          }
          if(isClear){
            c_row.push(i)
            
          }
        }
        if(c_row.length == 1){
          this.totalscore = this.totalscore + 1000
        }
        else if(c_row.length == 2){
          this.totalscore = this.totalscore + 3000
        }
        else if(c_row.length == 3){
          this.totalscore = this.totalscore + 9000
        }
        else if(c_row.length == 4){
          this.totalscore = this.totalscore + 18000
        }
        for(const row of c_row){
          this.clearRow(row)
        }
        
      },
      clearRow(row){
        let tmpfield = [
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,9,9,9,9,9,9,9,9,9,9,9],
        ]
        
        
        //まず、消える列の1を全部0にする
        for(let j=0; j<this.field[row].length; j++){
          if(this.field[row][j] == 1){
            this.field[row][j] = 0
          }
        }
        
        for(let i=0; i<this.field.length; i++){
          for(let j=0; j<this.field[i].length; j++){
            tmpfield[i][j] = this.field[i][j]
          }
        }
        // //さらに１段落とす
        for(let i=0; i<row; i++){
          for(let j=0; j<this.field[i].length; j++){
            tmpfield[i+1][j] = this.field[i][j]
          }
        }

        this.field = tmpfield
        this.$forceUpdate()
      },
      BlockMove(){
        let tmpfield = [
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,9,9,9,9,9,9,9,9,9,9,9],
        ]
        let tmpfield2 = [
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,9,9,9,9,9,9,9,9,9,9,9],
        ]

        let isHit = false
        //まず今回の移動で当たっているかを判断する
        for(let i=0; i<this.field.length; i++){
          for(let j=0; j<this.field[i].length; j++){
            if(this.field[i][j] == 2){
              tmpfield[i+1][j] = this.field[i][j]
            }
          }
        }

        for(let i=0; i<this.field.length; i++){
          for(let j=0; j<this.field[i].length; j++){
            if(tmpfield[i][j]==2 && (this.field[i][j]==1 || this.field[i][j]==9)){
              //ここで当たったという情報を変数に書き込む ループを強制的に抜ける
              isHit = true
              break
            }
          }
        }

        if(isHit){
          //当たっていればすべてを固める
          this.stopAllBlock()
          //物が1に変わったタイミング
          //この中でもし、1列に1か9しか存在しなければ
          //ブロックが消えたと判断して、1列を削除
          //スコアに加点する
          this.checkRowClear()
          this.createdBlock()
        }else{
          for(let i=0; i<this.field.length; i++){
            for(let j=0; j<this.field[i].length; j++){
              if(this.field[i][j] == 2){
                tmpfield2[i+1][j] = this.field[i][j]
              }else if(this.field[i][j] == 1){
                tmpfield2[i][j] = this.field[i][j]
              }else if(this.field[i][j] == 9){
                tmpfield2[i][j] = this.field[i][j]
              }
            }
          }
          this.field = tmpfield2
        }


        this.$forceUpdate()
      },
      RightMove(){
        let tmpfield = [
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,9,9,9,9,9,9,9,9,9,9,9],
        ]
        let isHit = false
        for(let i=0; i<this.field.length; i++){
          for(let j=0; j<this.field[i].length; j++){
            if(this.field[i][j] == 2){
              tmpfield[i][j+1] = this.field[i][j]
            }
          }
        }

        for(let i=0; i<this.field.length; i++){
          for(let j=0; j<this.field[i].length; j++){
            if(tmpfield[i][j]==2 && (this.field[i][j]==1 || this.field[i][j]==9)){
              isHit = true
              break
            }
          }
        }

        if(isHit == false){
          for(let i=0; i<this.field.length; i++){
            for(let j=0; j<this.field[i].length; j++){
              if(this.field[i][j] == 2){
                if(i < this.field.length-1){
                  tmpfield[i][j+1] = this.field[i][j]
                }
              }else if(this.field[i][j] == 1){
                tmpfield[i][j] = this.field[i][j]
              }
            }
          }
          this.field = tmpfield
        }
        this.$forceUpdate()
      },
      LeftMove(){
        let tmpfield = [
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,9,9,9,9,9,9,9,9,9,9,9],
        ]
        let isHit = false
        for(let i=0; i<this.field.length; i++){
          for(let j=0; j<this.field[i].length; j++){
            if(this.field[i][j] == 2){
              tmpfield[i][j-1] = this.field[i][j]
            }
          }
        }

        for(let i=0; i<this.field.length; i++){
          for(let j=0; j<this.field[i].length; j++){
            if(tmpfield[i][j]==2 && (this.field[i][j]==1 || this.field[i][j]==9)){
              isHit = true
              break
            }
          }
        }

        if(isHit == false){
          for(let i=0; i<this.field.length; i++){
            for(let j=0; j<this.field[i].length; j++){
              if(this.field[i][j] == 2){
                if(i < this.field.length-1){
                  tmpfield[i][j-1] = this.field[i][j]
                }
              }else if(this.field[i][j] == 1){
                tmpfield[i][j] = this.field[i][j]
              }
            }
          }
          this.field = tmpfield
        }
        this.$forceUpdate()
      },
      DownMove(){
        let tmpfield = [
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,0,0,0,0,0,0,0,0,0,0,9],
          [9,9,9,9,9,9,9,9,9,9,9,9],
        ]
        let isHit = false
        for(let i=0; i<this.field.length; i++){
          for(let j=0; j<this.field[i].length; j++){
            if(this.field[i][j] == 2){
              tmpfield[i+1][j] = this.field[i][j]
            }
          }
        }

        for(let i=0; i<this.field.length; i++){
          for(let j=0; j<this.field[i].length; j++){
            if(tmpfield[i][j]==2 && (this.field[i][j]==1 || this.field[i][j]==9)){
              isHit = true
              break
            }
          }
        }

        if(isHit == false){
          for(let i=0; i<this.field.length; i++){
            for(let j=0; j<this.field[i].length; j++){
              if(this.field[i][j] == 2){
                if(i < this.field.length-1){
                  tmpfield[i+1][j] = this.field[i][j]
                }
              }else if(this.field[i][j] == 1){
                tmpfield[i][j] = this.field[i][j]
              }
            }
          }
          this.field = tmpfield
        }
        this.$forceUpdate()
      }
    }
  })
</script>
</html>