<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="app" >
    {{ message }}
    {{text}}
    <button v-on:click="onClick">ボタン</button>
    <input v-model="text" type="text">
    <div class="line" v-for="line in field">
      <div class="block" v-for="block in line">
        <div v-if="block == 0" class="blank inline-block">

        </div>
        <div v-else-if="block == 1" class="fixed-block inline-block">
          
        </div>
        <div v-else-if="block == 2" class="move-block inline-block">
          
        </div>
      </div>
    </div>
  </div>
</body>

<script>

  var app = new Vue({
    el: '#app',
    data: {
      message: 'Hello Vue!',
      text: "",
      field: [
        [0,0,0,0,2,2,2,2,0,0],
        [0,0,0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0,0,0],
        [0,1,0,0,0,0,0,0,0,0],
        [0,1,0,0,0,0,0,1,0,0],
        [0,1,1,0,0,0,0,1,1,1]
      ]
    },
    created(){
      setInterval(this.BlockMove,500)
      const self = this
      document.addEventListener('keydown', (event) => {
        var keyName = event.key;
          if(keyName == "h"){
            self.RightMove()
          }
          if(keyName == "g"){
            self.LeftMove()
          }
          if(keyName == "b"){
            self.DownMove()
          }
      });
    },
    methods:{
      onClick(){
        //dataの中身を参照するにはthis.と参照しなければいけない
        console.log("ボタンが押されたことを検出",this.text)
      },
      BlockMove(){
        const tmpfield = [
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0]
        ]
        for(let i=0; i<this.field.length; i++){
          for(let j=0; j<this.field[i].length; j++){
            //  console.log(this.field[i][j])
            // this.field[i+1][j] = this.field[i][j]
            if(this.field[i][j] == 2){
              if(i < this.field.length-1){
                console.log("call")
                tmpfield[i+1][j] = this.field[i][j]
                if(tmpfield[i+1][j] == tmpfield[19][j]){
                  tmpfield[i+1][j] = 1
                }
              }
            }
            else if(this.field[i][j] == 1){
              tmpfield[i][j] = this.field[i][j]
            }
          }
        }
        this.field = tmpfield
        this.$forceUpdate()
      },
      RightMove(){
        const tmpfield = [
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0]
        ]
        for(let i=0; i<this.field.length; i++){
          for(let j=0; j<this.field[i].length; j++){
            if(this.field[i][j] == 2){
              if(i < this.field.length-1){
                tmpfield[i][j+1] = this.field[i][j]
              }
            }
            else if(this.field[i][j] == 1){
              tmpfield[i][j] = this.field[i][j]
            }
          }
        }
        this.field = tmpfield
        this.$forceUpdate()
      },
      LeftMove(){
        const tmpfield = [
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0]
        ]
        for(let i=0; i<this.field.length; i++){
          for(let j=0; j<this.field[i].length; j++){
            if(this.field[i][j] == 2){
              if(i < this.field.length-1){
                tmpfield[i][j-1] = this.field[i][j]
              }
            }
            else if(this.field[i][j] == 1){
              tmpfield[i][j] = this.field[i][j]
            }
          }
        }
        this.field = tmpfield
        this.$forceUpdate()
      },
      DownMove(){
        const tmpfield = [
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0],
          [0,0,0,0,0,0,0,0,0,0]
        ]
        for(let i=0; i<this.field.length; i++){
          for(let j=0; j<this.field[i].length; j++){
            if(this.field[i][j] == 2){
              if(i < this.field.length-1){
                tmpfield[i+1][j] = this.field[i][j]
              }
            }
            else if(this.field[i][j] == 1){
              tmpfield[i][j] = this.field[i][j]
            }
          }
        }
        this.field = tmpfield
        this.$forceUpdate()
      }
    }
  })
</script>
</html>