.blank {
  color: transparent;
}

.block {
  width: 40px;
  height: 40px;
  border: solid 1px #dddddd;
}

.inline-block {
  width: 100%;
  height: 100%;
}

.frame-block{
  background-color: black;
}

.frame-block2{
  background-color: black;
}

.fixed-block{
  background-color: gray;
}

.move-block{
  background-color: lightpink;
}

.line {
  display: flex;
}